# A\) Etapas do Pré - Processamento
## 5) Fazer funções para a equipe fazer concultas e apontar alterações a serem feitas pelos programadores

In [161]:
import glob
import pandas as pd
import re

In [162]:
diretorio_planilhas = "C:\\Users\\anton\OneDrive - Casa Jares\\Projeto_BI_Ciencia_Dados\\Projeto_Leitura_Documentos\\planilhas"
passo02 = pd.read_csv(f"{diretorio_planilhas}\\acordaos02.csv")

In [163]:
del passo02["Unnamed: 0"]
passo02 = passo02
passo02.head()

   indice                                           conteudo
0      19   acórdão ne 176 feito \t processo n 2 57091tce...
1     127   acórdão nº 7556 natureza do feito processo nº...
2     128   acórdão nº 7557 natureza do feito processo nº...
3     129   acórdão nº 7560 natureza do feito processo nº...
4     130   acórdão nº 7564 natureza do feito processo nº...

In [177]:
numeros01 = {'1','2','3'}
numeros02 = {'7','8','9'}
numeros01 = numeros01.union(numeros02)
numeros01

{'1', '2', '3', '7', '8', '9'}

In [200]:
def Retorna_Todas_Situacoes(expressao,campo):
    resultado = set([])
    for acordao in campo:
        provisorio = set([])
        resultado = resultado.union(set(re.findall(expressao,acordao)))
    return resultado

# Faz busca com Expressão Regular e retorna todas as situações de forma única

In [203]:
resultado = Retorna_Todas_Situacoes(r' acórdão n..',passo02['conteudo'])
resultado

{' acórdão n 1',
 ' acórdão n 2',
 ' acórdão n 5',
 ' acórdão n 6',
 ' acórdão n 7',
 ' acórdão n 8',
 ' acórdão n 9',
 ' acórdão n º',
 ' acórdão n10',
 ' acórdão ne ',
 ' acórdão not',
 ' acórdão nª ',
 ' acórdão nº ',
 ' acórdão nº1',
 ' acórdão nº9'}