# A\) Etapas do Pré - Processamento
## 1) Fazer a leitura dos Acórdãos que estão em pdfs e exportar para uma planilha xls.

> 
>Utilizaremos programação Python com biblioteca PANDAS
>

In [47]:
import glob
import pandas as pd
import re
from pypdf import PdfReader
import os
from IPython.display import clear_output

In [48]:
diretorio_dados = "C:\\Users\\anton\\OneDrive - Casa Jares\\Projeto_BI_Ciencia_Dados\\Projeto_Leitura_Documentos\\dados"
diretorio_planilhas = "C:\\Users\\anton\OneDrive - Casa Jares\\Projeto_BI_Ciencia_Dados\\Projeto_Leitura_Documentos\\planilhas"

In [49]:
inicio = pd.read_excel(f"{diretorio_planilhas}\\inicio.xlsx")
inicio.head()

Empty DataFrame
Columns: [indice, conteudo]
Index: []

# Extraindo o conteúdo dos PDF's e colocando em uma Planilha

In [50]:
linha = 0
for arquivo in glob.glob(f"{diretorio_dados}/*.pdf"):
    clear_output(wait=True)
    print('Aguarde', end = "")
    documento = PdfReader(arquivo)
    resultado = []
    for pagina in documento.pages:
        conteudo = pagina.extract_text()
        conteudo = ''.join(conteudo)
        conteudo = conteudo.replace('TRIBUNAL DE CONTAS DO ESTADO DO ACRE', '')
        resultado.append(conteudo)
        print('..', end = "")
        
    inicio.loc[linha,"indice"] = linha
    inicio.loc[linha,"conteudo"] = resultado[0]
    linha += 1
    
print("\nTodos os Pdf´s foram lidos e salvos no DataSet inicio", end = "")

Aguarde..
Todos os Pdf´s foram lidos e salvos no DataSet inicio

In [51]:
inicio.to_excel(f"{diretorio_planilhas}\\transitorio.xlsx")

In [52]:
transitorio = pd.read_excel(f"{diretorio_planilhas}\\transitorio.xlsx")
transitorio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2620 entries, 0 to 2619
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2620 non-null   int64
 1   indice      2620 non-null   int64
 2   conteudo    2454 non-null   object
dtypes: int64(2), object(1)
memory usage: 61.5+ KB

In [53]:
print(f"Quantidade total de registos {transitorio.shape[0]} antes de apagar registros com NAN")
total_na = transitorio['conteudo'].isna().sum()
total_isnull = transitorio.loc[1,:].isnull().sum()
print(f"Quantidade de registos com NaN {total_na}")
print(f"Quantidade de registos sem informação {total_isnull}")

Quantidade total de registos 2620 antes de apagar registros com NAN
Quantidade de registos com NaN 166
Quantidade de registos sem informação 1

In [54]:
# Apagando registros com NAN
transitorio = transitorio.dropna()
print(f"Quantidade atual de registos {transitorio.shape[0]} após de apagar registros com NAN")

Quantidade atual de registos 2454 após de apagar registros com NAN

In [55]:
del transitorio["Unnamed: 0"]
transitorio.head()

     indice                                           conteudo
19       19  stado do Acre.  \nACÓRDÃO Ne 176 \nFeito \t : ...
127     127  Tribunal de Contas do Estado do Acre\nSecretar...
128     128  Tribunal de Contas do Estado do Acre\nSecretar...
129     129  Tribunal de Contas do Estado do Acre\nSecretar...
130     130  Tribunal de Contas do Estado do Acre\nSecretar...

# Salvando em acordaos01.xls

In [61]:
for col in transitorio.columns:
    print(col)

indice
conteudo

In [62]:
transitorio.to_excel(f"{diretorio_planilhas}\\acordaos01.xlsx")

# Continuar no notebook Grupo_NLP_02.ipynb
------
Para cada etapa teremos novos notebook's (*.ipynb) e planilha's (*.xls) para manter a independência entre cada etapa.

Havendo erro a corrigir será feito de forma independente.